* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline; }

/* layout */
body {
  font: 400 16px/1.5 avenir, verdana, arial, helvetica, sans-serif;
  color: #555558;
  background-color: #FF9263;
  background-image: -webkit-linear-gradient(left, #FF9263 1px, #FFAF8D 2px);
  background-image: linear-gradient(to right, #FF9263 1px, #FFAF8D 2px);
  background-size: 3px 3px; }

.centered {
  width: 760px;
  min-height: 100%;
  margin: 0 auto;
  padding: 30px 70px;
  background-color: #fefefe;
  border-width: 0 1px;
  border-style: solid;
  border-color: #FFAF8D; }

aside {
  margin-top: 5.5rem; }

/* general */
p {
  margin: 1.5rem 0; }

img {
  display: block;
  margin: 1rem 0; }

strong, a, h1, h2 {
  font-weight: 500; }

nav a, .contact a {
  font-weight: 400; }

blockquote {
  border-left: 3px solid #FF9263;
  padding-left: 20px; }

/* links */
a {
  text-decoration: none;
  color: #e92b61; }
  a:hover, a:active {
    border-bottom: 3px solid #883584; }

/* lists */
ul {
  list-style: inside disc; }

ol {
  list-style: inside decimal; }

.inline, .archive ol, .echoes ol {
  list-style-type: none; }

.inline li {
  float: left; }

.archive li {
  margin-bottom: 1.5rem; }

/* headings */
h1 {
  font-size: 40px;
  margin-bottom: 2.75rem;
  line-height: 1.2; }
  body > h1 {
    line-height: 0;
    margin: 0 0 0 -20000px; }

h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 3rem 0 1.5rem; }

/* nav */
.site-nav {
  margin-bottom: 4.75rem; }
  .site-nav li {
    padding-right: 20px; }
  .home .site-nav .home, .projects .site-nav .projects, .blog .site-nav .blog, .archive .site-nav .archive {
    border-bottom: 3px solid #FFAF8D; }

.contact, .blog-nav {
  display: block;
  float: right;
  margin: 0; }

.blog-nav li {
  padding-left: 20px; }

/* blog */
.post h1 a:hover {
  border-bottom: 0 none; }

.published {
  color: #bbb;
  font-style: italic; }
  .published time {
    color: #555558; }
  .published time, .published a {
    padding: 0 1px; }

.gist {
  font-size: 15px; }

.archive time {
  float: right; }

/* between smartphone and default width */
@media only screen and (max-width: 760px) {
  .centered {
    padding: 30px 9.21053% 8rem;
    width: 100%; } }
/* smartphone */
@media only screen and (max-width: 480px) {
  body {
    font-size: 24px; }

  .centered {
    width: 600px;
    padding: 20px; }

  .site-nav {
    margin-bottom: 5rem; }

  h1 {
    margin-bottom: 2.5rem; }

  h2 {
    margin-top: 2.5rem; }

  br {
    display: none; } }
