/*@font-face { font-family:Mido; src:url("/fonts/Mido.otf") }*/
@font-face { font-family:"Latin Modern Sans"; src:url("/fonts/lmsans10-regular.otf") }
@font-face { font-family:"Latin Modern Sans"; src:url("/fonts/lmsans10-oblique.otf"); font-style:italic }
@font-face { font-family:"Theano Didot"; src:url("/fonts/TheanoDidot-Regular.ttf") }

* {
  vertical-align:baseline;
  padding:0; margin:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }

body {
  font:62.5% "Theano Didot", didot, "times new roman", times, georgia, serif;
  margin:0 auto; width:518px; padding:0 0 1em 4em; border-left:1px solid #ddd;
  background:snow; color:#222;
/*  background-image:url('/img/grid-27.png');*/
}
  body > * { font-size:1.8em }

  body > header { padding-top:1.6em }
    body > header img { float:right }

aside, footer { font-size:1.6em }
aside { margin-top:3.4em }
footer {
  margin:7em 0 1em; padding-top:2em;
  font-size:1.6em;
}
  footer li { display:inline; padding-right:2em }
  footer img { padding-right:.15em; height:12px }

p {
  font-size:1em; line-height:1.5em;
  margin-bottom:1.5em;
}
  article header + p { margin-top:-1.35em }

code { font:.95em courier, monospace;}
code, blockquote { color:#555 }
pre code {
  display:block;
  font-size:14px; line-height:18px; white-space:pre-wrap;
  margin:-1.9em 0 0 -40px; padding:0 1em 0 40px;
}
pre code, blockquote {
  background:#eee; margin-bottom:-0.9em;
  border-radius:0 9px 9px 0; -webkit-border-radius:0 9px 9px 0; -moz-border-radius:0 9px 9px 0;
}
blockquote { margin:0 0 1em -2.25em }
blockquote { padding:1em .5em 0 2.25em }
  blockquote p:first-child:before { content:'“'; font-size:2em }
  blockquote p:first-child { text-indent:-1.15em }
  blockquote p:last-child { padding-bottom:1em }

img { border:0 none }

time { font-size:0.85em }
  article header time {
    display:block;
    position:relative; right:17em; top:2px;
    width:200px; text-align:right;
  }

em { font-style:normal; text-shadow:0 0 1px #333 }

/* nav */
nav { position:relative; right:575px; top:5px; }
nav li {
  letter-spacing:.03em; line-height:20px; text-align:right;
  font-size:14px;
}
nav a { text-decoration:none }
nav a:hover:before { content:'= ' }

/* headings */
body > header h1 {
  font-family:Mido, "Theano Didot", "times new roman", times, serif; font-size:3.3em;
  line-height:.9em;
}
body > header h2, article h1, section h1, section h2, nav, #archive a, .annotated a {
  font-family:"Latin Modern Sans", tahoma, arial, helvetica, sans-serif; font-weight:normal;
}
body > header h2 {
  font-size:0.85em; font-style:italic; line-height:.9em; text-align:right;
  position:relative; left:140px; top:.9em;
  width:35%;
}

article h1, section h1 { text-shadow:0 0 2px #777 }
body > article header h1, body > article > h1, body > section > h1, body > section hgroup h1, #projects h1 {
  font-size:2em;
  line-height:1.2em; margin:0 0 1.1em; padding:.1em 0;
}
section h2, body > article > section > h1 {
  font-size:1.5em; line-height:1em;
}
section h2 { margin:-0.2em 0 1.2em }
body > article > section h1 { margin:1em 0 }
body > article > section > section > h1 { font-size:1.3em }

/* anchors */
a {
  color:inherit;
  text-decoration:none;
}

header a:focus, header a:active, header a:visited { outline:0 none }

p a, article li a, footer a, aside a {
  color:#677D7C;
  padding:0 .05em;
}
p a:hover, article li a:hover, footer a:hover, aside a:hover, .annotated ol a:hover {
  background:#eee;
  border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;
}
blockquote a:hover { background:#dfdfdf }

section a h2:hover, #archive a:hover {
  text-shadow:0 0 3px #777;
}

/* lists */
ul, ol { list-style:none inside }

article ol, article ul {
  list-style-position:outside;
  margin:1.5em 0;
}
article ol {
  list-style-type:decimal;
  padding-left:1.35em;
}
article ul {
  list-style-type:square;
  padding-left:.95em;
}
  article li { line-height:1.5em }

nav ul li:before { content:'= ' }

/* about */
.vcard .n { text-shadow:0px 0px 1px #777 }
.vcard .photo { float:left; margin:.5em 1em 0 0 }
  /* social links */
.vcard ol { margin:2em 0 1.5em; padding-left:0 }
  .vcard ol li { display:inline; padding-left:1em }
  .vcard ol li:first-child { padding-left:0 }
  .vcard ol img { border:3px double #BBB; width:40px }
  .vcard ol a:hover { position:relative; bottom:2px; left:1px; background:none }

/* projects */
#projects > h1 { display:none; }
#projects article { margin-bottom:55px; }
#projects a:active, a:visited { outline:0 none }
#projects img { border:1px solid #ddd }
#listas img { float:right; margin:.4em 0 1em 1.5em; }
#listas p { text-align:justify }
#movi img { float:left; margin:.4em 1.5em 0 0; }

/* archive */
#archive ol { line-height:1.75em; margin-top:-0.3em }
  #archive li { margin-top:.3em }
#archive a { padding-right:.5em; font-size:20px; }

/* echoes */
#echoes h2 {
  font-size:.8em; font-family:inherit;
  text-shadow:0 0 1px rgba(127, 127, 127, .3);
  margin:-1.9em 0 2.7em;
}
#echoes section { clear:left }
  #echoes > p { margin-top:2.6em }
  #echoes section h1 {
    font:inherit;
    position:relative; right:10.4em;
    text-align:right; width:7em;
  }
#echoes h1 img {
  height:24px;
  box-shadow:0 0 1px #bbb; -moz-box-shadow:0 0 1px #bbb; -webkit-box-shadow:0 0 1px #bbb; -o-box-shadow:0 0 1px #bbb;
}
#echoes li { margin-bottom:1.2em; font-size:.85em }
.annotated ol { margin-top:-0.2em }
.annotated ol a {
  display:block; margin-top:-0.1em; line-height:1.2em;
  font-variant:small-caps; font-size:1.05em;
  color:#677D7C;
}
.annotated p, .annotated q { margin-top:.2em }
#echoes q { display:block; line-height:1.5em }
  #echoes #twitter q {
    background:#eee; color:#555;
    margin-left:-2.6em; padding:.2em .5em .4em 2.6em;
    border-radius:0 9px 9px 0; -webkit-border-radius:0 9px 9px 0; -moz-border-radius:0 9px 9px 0;
    text-indent:-0.9em; quotes:none;
  }
  #echoes #twitter q:before { content:'“'; font-size:2em }
  #echoes #twitter q:after { content:'' } /* Webkit */
#echoes #lastfm p { font-size:.85em }
#echoes #flickr li { display:inline }
#echoes #flickr li img { border:1px solid #bbb; margin-right:8px }
