@font-face { font-family:"Theano Didot"; src:url("/fonts/TheanoDidot-Regular.ttf") }

* {
  vertical-align:baseline;
  padding:0; margin:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }

body {
  font:18px/1.5 "Theano Didot", didot, "times new roman", times, georgia, serif;
  margin:0 auto; width:518px; padding:0 0 10px 40px; border-left:1px solid #ddd;
  background:snow; color:#222;
/*  background-image:url('/img/grid-27.png');*/
}

p { margin-bottom:27px; }

em { font-style:normal; text-shadow:0 0 1px #333 }
img { border:0 none }
.bordered { border:1px solid #bbb }

aside { margin-top:54px }
footer { margin:112px 0 16px; padding-top:32px; }
footer li { display:inline; padding-right:32px }
footer img { padding-right:3px; height:12px }

/* nav */
body > nav { position:relative; right:575px; top:0; }
body > nav li { text-align:right; padding-top:2px; }
body > nav a { text-decoration:none }
body > nav a:hover:before { content:'= ' }

/* headings */
nav, .archive a, .annotated a {
  font-family: geneva, tahoma, helvetica, arial, sans-serif;
}
h1 {
  font-family: geneva, tahoma, helvetica, arial, sans-serif; font-weight:normal;
  text-shadow:0 0 3px #aaa; color:#333;
}
body > article > h1, body > section > h1, body > article > header h1 {
  font-size:30px; margin:0 0 33px; padding:3px 0;
}
body > article > section > h1, body > article > article > h1 {
  font-size:22px;
}
body > article > section > section > h1 {
  font-size:18px;
}
body > article > section h1, body > article > article h1 { margin:33px 0 22px }

/* links */
a {
  color:inherit;
  text-decoration:none;
}
header a:focus, header a:active, header a:visited { outline:0 none }
p a, article li a, footer a, aside a, .annotated ol a {
  color:#D30E40;
  text-shadow: 1px 1px 1px #ddd;
}
p a:hover, article li a:hover, footer a:hover, aside a:hover {
  text-decoration:underline;
}

/* lists */
ul, ol { list-style:none inside; padding:0 }
li { line-height:1.5 }

.post ol, .post ul, .vcard ol, .vcard ul {
  margin:27px 0;
}
.post ol, .post ul {
  list-style-position:outside;
}
.post ol {
  list-style-type:decimal;
  padding-left:24px;
}
.post ul {
  list-style-type:square;
  padding-left:18px;
}

/* about */
.vcard .n { text-shadow:0 0 2px #777 }
.vcard strong { font-weight:normal; }
.vcard .family-name { display:none }
.vcard a.email {
  display: block; width:110px;
  position: relative; right:165px; bottom:27px; margin-bottom:-27px;
}
.vcard .photo { float:left; height:200px }
.vcard li a {
  color: #333; background:#e7e7e7;
  display: block; height:26px;
  margin:1px 0;
}
.vcard li a, .tags li {
  text-shadow: 1px 1px 1px #ccc;
  border:1px solid #d9d9d9; border-radius:6px;
}
.vcard li a:hover {
  background:#f5f5f2; margin-right:-5px;
  text-decoration:none;
  color:#D30E40;
}
.vcard li a img {
  width:24px;
  float:left;
  margin: 1px 8px 0 4px;
}
.vcard li a span {
  padding: 5px;
  display: block;
}

.tags { line-height:1.8; }
.tags li {
  display:inline;
  background:#f5f5f2;
  padding: 3px 7px 1px; margin-right: -2px;
}
.tags strong { font-size:20px }

.toggledesc + div { display:none; }

/* projects */
.projects p { margin-bottom:18px; }
.projects a:active, a:visited { outline:0 none }

/* archive */
.archive a { color:#333; text-shadow:0 0 2px #aaa; }
.archive time { float:right; padding-top: 2px; }

.projects a:hover, .archive a:hover { color:#D30E40 }

/* post */
article header + p { margin-top:-24px }

article header time {
  display:block;
  position:relative; right:255px; top:2px;
  width:200px; text-align:right;
}

code { font:17px courier, monospace;}
code, blockquote { color:#555 }
pre code, blockquote { background:#eee; border-radius:0 9px 9px 0; }
pre code {
  display:block;
  line-height:18px; white-space:pre-wrap;
  margin:-26px 0 0 -40px; padding:0 14px 0 40px;
}
blockquote { padding:18px 9px 0 40px; margin:0 0 18px -40px }
blockquote p:first-child:before { content:'“'; font-size:36px }
blockquote p:first-child { text-indent:-20px }
blockquote p:last-child { padding-bottom:18px }

/* echoes */
.echoes article { margin-top:-15px }
.echoes > p { margin-top:46px }
.echoes .icon {
  height:24px; box-shadow:0 0 1px #bbb;
  position: relative; top:29px; right: 80px;
}
.echoes ol { margin:-27px 0 }
.echoes li { margin-bottom:18px }
.echoes time { display:block; margin-top:3px; }
.echoes q { display:block; line-height:22px }

.annotated ol { margin-top:-30px }
.annotated p, .annotated q { margin-top:3px }

.twitter a:hover { text-decoration:none }
.twitter q {
  background:#eee; color:#555;
  margin-left:-40px; padding:3px 7px 6px 40px;
  border-radius:0 9px 9px 0;
  text-indent:-13px; quotes:none;
}
.twitter q:before { content:'“'; font-size:30px }
.twitter q:after { content:'' } /* Webkit */

/* abstractions */
body > nav li, .vcard li a { font-size:12px }
pre code, .annotated ol a { font-size:14px }
time, .echoes li { font-size:15px }
aside, footer, .archive a, .tags small { font-size:16px }


@media only screen and (max-device-width:480px) {
  .vcard a.email { bottom:29px; }
  article header time { top:9px; }
}

/* post specific */
.i365 img { display:block; width:475px; margin:15px 0 25px; }
section.i365 { margin-bottom:-36px }
aside.i365 p { margin-bottom:9px }
aside.i365 ul { margin:8px 4px; }
