@font-face { font-family:"Theano Didot"; src:url("/fonts/TheanoDidot-Regular.ttf") }

* {
  vertical-align:baseline;
  padding:0; margin:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }

body {
  font:62.5% "Theano Didot", didot, "times new roman", times, georgia, serif;
  margin:0 auto; width:518px; padding:0 0 1em 4em; border-left:1px solid #ddd;
  background:snow; color:#222;
/*  background-image:url('/img/grid-27.png');*/
}
body > * { font-size:1.8em }

aside, footer { font-size:16px }
aside { margin-top:3.4em }
footer {
  margin:7em 0 1em; padding-top:2em;
  font-size:1.6em;
}
footer li { display:inline; padding-right:2em }
footer img { padding-right:.15em; height:12px }

em { font-style:normal; text-shadow:0 0 1px #333 }
img { border:0 none }

p {
  font-size:1em; line-height:1.5;
  margin-bottom:1.5em;
}

/* nav */
body > nav { position:relative; right:575px; top:5px; }
body > nav li { text-align:right; font-size:12px; padding-top:2px; }
body > nav a { text-decoration:none }
body > nav a:hover:before { content:'= ' }

/* headings */
h1, nav, #archive a, .annotated a {
  font-family: geneva, tahoma, helvetica, arial, sans-serif; font-weight:normal;
}

h1 { text-shadow:0 0 3px #aaa; color:#333 }
body > article header h1, body > article > h1, body > section > h1, body > section hgroup h1 {
  font-size:30px;
  margin:0 0 1.1em; padding:.1em 0;
}
body > article > section h1 { margin:1.5em 0 1em }
body > article > section > h1 { font-size:22px; }
body > article > section > section > h1 { font-size:18px }

/* links */
a {
  color:inherit;
  text-decoration:none;
}
header a:focus, header a:active, header a:visited { outline:0 none }
p a, article li a, footer a, aside a, .annotated ol a {
  color:#D30E40;
  text-shadow: 1px 1px 1px #ddd;
  border-radius:6px;
}
p a:hover, article li a:hover, footer a:hover, aside a:hover, .annotated ol a:hover {
  color:#F72C5F;
  text-decoration:underline;
}

/* lists */
ul, ol { list-style:none inside }

article ol, article ul {
  list-style-position:outside;
  margin:1.5em 0;
}
article ol {
  list-style-type:decimal;
  padding-left:1.35em;
}
article ul {
  list-style-type:square;
  padding-left:1em;
}
article li { line-height:1.5 }

/* about */
.vcard .n, .vcard strong { text-shadow:0px 0px 2px #777 }
.vcard strong { font-weight:normal; }
.vcard .family-name { display:none }
.vcard a.email {
  display: block; width:110px; padding: 0 5px;
  position: relative; right: 9.2em; bottom: 1.5em; margin-bottom: -1.5em;
}
.vcard .photo { float:left; border:1px solid #ddd; margin-right:3px; height:200px }
.vcard ol { margin:1.5em 0; padding-left:0; list-style-type:none }
.vcard li { line-height:1 }
.vcard li a {
  font-size:12px;
  color: #333; text-shadow: 1px 1px 1px #ccc;
  display: block; height: 24px;
  background:#eee; border:1px solid #e5e5e5;
  margin:1px 0; padding:1px 0;
}
.vcard li a:hover {
  background:#e4e4e4; margin-right:-5px;
  text-decoration:none;
}
.vcard li a img {
  border:1px solid #bbb; width:22px;
  vertical-align: text-bottom;
  margin-right:3px;
}
.vcard li a span {
  display: inline-block;
  vertical-align: bottom; height: 18px;
}
/* projects */
#projects article { margin-bottom:30px; }
#projects article h1 { margin:1.5em 0 1em }
#projects p { margin-bottom:1em; }
#projects h1 a:hover { color:#F72C5F;}
#projects a:active, a:visited { outline:0 none }
#projects img { border:1px solid #ddd }

/* archive */
#archive a {
  font-size:16px; color:#333;
  text-shadow:0 0 2px #aaa;
}
#archive a:hover { color:#F72C5F; }
#archive time { float:right; padding-top: 2px; }

/* post */
article header + p { margin-top:-1.35em }

time { font-size:15px }
article header time {
  display:block;
  position:relative; right:17em; top:2px;
  width:200px; text-align:right;
}

code { font:.95em courier, monospace;}
code, blockquote { color:#555 }
pre code, blockquote { background:#eee; border-radius:0 9px 9px 0; }
pre code {
  display:block;
  font-size:14px; line-height:18px; white-space:pre-wrap;
  margin:-1.9em 0 0 -40px; padding:0 1em 0 40px;
}
blockquote { padding:1em .5em 0 2.25em; margin:0 0 1em -2.25em }
blockquote p:first-child:before { content:'“'; font-size:2em }
blockquote p:first-child { text-indent:-1.15em }
blockquote p:last-child { padding-bottom:1em }

/* echoes */
#echoes > h1 { margin-bottom:.5em }
#echoes section h1 { font:inherit; }
#echoes > p { margin-top:2.6em }
#echoes h1 img {
  height:24px; box-shadow:0 0 1px #bbb;
  position: relative; top: 34px; right: 80px;
}
#echoes li { margin-bottom:1.2em; font-size:.85em }
#echoes time { display:block; margin-top:3px; }
.annotated ol { margin-top:-0.2em }
.annotated ol a { font-size:14px; }
.annotated p, .annotated q { margin-top:.2em }
#echoes q { display:block; line-height:1.5em }
#twitter q {
  background:#eee; color:#555;
  margin-left:-40px; padding:.2em .5em .4em 40px;
  border-radius:0 9px 9px 0;
  text-indent:-0.9em; quotes:none;
}
#twitter q:before { content:'“'; font-size:2em }
#twitter q:after { content:'' } /* Webkit */
#lastfm p { font-size:.85em }
#flickr li { display:inline }
#flickr li img { border:1px solid #bbb; margin-right:8px }

@media only screen and (max-device-width:480px) {
  .vcard a.email { bottom:29px; }
  article header time { top:9px; }
}

/* post specific */
.i365 img { display:block; width:475px; margin:15px 0 25px; }
section.i365 { margin-bottom:-2em }
aside.i365 p { margin-bottom:.5em }
aside.i365 ul { margin:.5em 4px; }
