@font-face { font-family:Mido; src:url("fonts/Mido.otf") }
@font-face { font-family:"PT Sans"; src:url("fonts/PT_Sans.ttf") }
@font-face { font-family:"PT Sans"; src:url("fonts/PT_Sans_Italic.ttf"); font-style:italic }
@font-face { font-family:"Theano Didot"; src:url("fonts/TheanoDidot-Regular.ttf") }

* {
  vertical-align:baseline;
  padding:0; margin:0;
}
body {
  font-family:"Theano Didot", didot, "times new roman", times, georgia, serif;
  margin:0 auto; width:500px; padding:1.5em 0 0 2.5em;
  border-left:5px double; /*border-right:3px double;*/
  background:snow;
  color:#222;
}
  body > * { font-size:110% }

header, footer { display:block }
header { margin-bottom:4.5em }
footer {
  font-family:"PT Sans", "trebuchet ms", sans-serif; 
  margin-top:4.5em;
}

p { text-shadow:1px 1px 1px rgba(120, 120, 120, 0.2) }
  section p {
    font-size:1em; line-height:1.4em;
    text-indent:-0.3em;
    margin-bottom:1em;
  }
  footer p { font-size:.8em }

.fn { text-shadow:1px 1px 1px rgba(120, 120, 120, 0.5) }

/* images */
img { border:0 none }
.vcard img {
  border:3px double #777; width:40px;
  box-shadow:1px 1px 1px rgba(120, 120, 120, 0.4);
  -moz-box-shadow:1px 1px 1px rgba(120, 120, 120, 0.4);
  -webkit-box-shadow:1px 1px 1px rgba(120, 120, 120, 0.4);
  -o-box-shadow:1px 1px 1px rgba(120, 120, 120, 0.4);
}

/* lists */
ul, ol { list-style-position:inside }

.vcard ol { list-style-type:none; margin:1.5em 0 1em }
  .vcard ol li { display:inline; padding-left:1em }
  .vcard ol li:first-child { padding-left:0 }

/* headings */
body > header h1 {
  font-family:Mido, "Theano Didot", didot, georgia, "times new roman", times, serif; font-size:3.4em;
  line-height:1em;
}
body > header h2, section > h1 {
  font-family:"PT Sans", "trebuchet ms", sans-serif; font-weight:normal;
}
body > header h2 {
  font-style:italic; font-size:.9em;
  text-shadow:1px 1px 1px rgba(120, 120, 120, 0.2);
  position:relative; left:130px; top:10px;
}
section > h1 {
  font-size:2em; line-height:.9em;
  text-shadow:1px 1px 1px rgba(120, 120, 120, 0.4);
  border:double #777; border-width:0 3px 3px 0;
  margin-bottom:1em; padding-top:.1em;
}

/* anchors */
a {
  color:inherit;
}
a:hover {
  text-decoration:none;
  text-shadow:1px 1px 1px rgba(120, 120, 120, 0.5);
}

.vcard ol a:hover {
  position:relative; bottom:5px; left:1px;
}
