<section class="vcard">
  <h1>About me</h1>

  <a href="/about/projects">projects</a>

  <p>
    Hi, my name is
    <span class="fn n"><span class="given-name">Ivana</span> <span class="family-name">Vasilj</span></span>.
    At the time and most of the time, I am a <span class="title">web developer</span>.
  </p>
  <p id="interests">
    I do website optimization, HTML5, CSS3 and front-end development in general.
    I also enjoy server-side programming using frameworks such as Grails for Groovy or Ruby on Rails.
  </p>
  <p>
    Apart from webdev, I love film, music, travel, bicycle rides (especially when it's raining), deserted beaches,
    sleeping, learning languages, good food... pretty much everything that engages my senses.
    My annoying traits:
  </p>
  <ul>
    <li>categorization freak</li>
    <li>minimalist</li>
    <li>idealist</li>
    <li><a href="http://en.wikipedia.org/wiki/INTJ">INTJ</a></li>
  </ul>
  <p>
    For more on my interests and activities, check out my:
  </p>
  <ol>
    <li>
      <a href="http://twitter.com/ivanavasilj" title="Twitter" rel="me" class="url">
        <img src="/img/icons-bnw/twitter.png" alt="Twitter" />
      </a></li>
    <li>
      <a href="http://delicious.com/ivanavasilj" title="Delicious bookmarks" rel="me" class="url">
        <img src="/img/icons-bnw/delicious.png" alt="delicious" />
      </a></li>
    <li>
      <a href="http://www.linkedin.com/in/ivanavasilj" title="LinkedIn Profile" rel="me" class="url">
        <img src="/img/icons-bnw/linkedIn.png" alt="linkedIn" />
      </a></li>
    <li>
      <a href="http://www.google.com/profiles/ivasilj" title="Google Profile" rel="me" class="url">
        <img src="/img/icons-bnw/google.png" alt="Google profile" />
      </a></li>
    <li>
      <a href="http://www.google.com/reader/shared/ivasilj" title="Google Reader shared items" rel="me" class="url">
        <img src="/img/icons-bnw/google-reader.png" alt="Google Reader" />
      </a></li>
    <li>
      <a href="http://www.flickr.com/photos/ivanavasilj/" title="Photos on Flickr" rel="me" class="url">
        <img src="/img/icons-bnw/flickr.png" alt="Flickr" />
      </a></li>
    <li>
      <a href="http://www.last.fm/user/erin4" title="last.fm" rel="me" class="url">
        <img src="/img/icons-bnw/lastfm.png" alt="last.fm" />
      </a></li>
  </ol>
  <p>You can also contact me at <a class="email" href="mailto:ivasilj@gmail.com">ivasilj@gmail.com</a></p>

</section>
