<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="author" lang="hr" content="Ivana Vasilj, ivasilj@gmail.com" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link href="http://feeds.feedburner.com/ivanavasilj" type="application/atom+xml" rel="alternate" title="Monochrome daydreaming" />

    <title>{{ page.title }} | Monochrome daydreaming</title>
    <meta name="description" content="Monochrome daydreaming by Ivana Vasilj -
    {% if page.desc %}{{ page.desc }}{% else %}{{ page.title }}{% endif %}" />

    <meta name="google-site-verification" content="HSE8oq5B95IDw_GW0h5wCy8Czl_AJIWa0VHznHX46Z8" />
    
    <!--[if lt IE 9]>
    <script type="text/javascript">
    (function(){var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(',');for(var i=0;i<e.length;i++){document.createElement(e[i])}})()
    </script>
    <![endif]-->
    
  </head>

  <body>

    <header>

      <a href="/">
        <img src="/img/cloudy.gif" alt="monochrome daydreaming logo (a cloud)" />
        <hgroup>
          <h1>Monochrome daydreaming</h1>
          <h2>Homesite of Ivana Vasilj</h2>
        </hgroup>
      </a>

      <nav>
        <ol>
          <li><a href="/about">about</a></li>
          <li><a href="/echoes">echoes</a></li>
          <li><a href="/archive">archive</a></li>
        </ol>
      </nav>

    </header>

    {{ content }}

    <footer>
      <ol>
        <li><a href="/archive">blog archive</a></li>
        <li><a href="http://twitter.com/ivanavasilj">@ivanavasilj</a></li>
        <li><img src="/img/icons/feed.png" alt="" /><a href="http://feeds.feedburner.com/ivanavasilj">atom feed</a></li>
      </ol>
    </footer>


    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-5355510-3");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
