<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="author" lang="hr" content="Ivana Vasilj, ivasilj@gmail.com" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <link href="http://feeds.feedburner.com/ivanavasilj" type="application/atom+xml" rel="alternate" title="Ivana Vasilj | Blog" />

    <title>{{ page.title }} | Ivana Vasilj</title>
    <meta name="description" content="Ivana Vasilj -
    {% if page.desc %}{{ page.desc }}{% else %}{{ page.title }}{% endif %}" />

    <meta name="google-site-verification" content="HSE8oq5B95IDw_GW0h5wCy8Czl_AJIWa0VHznHX46Z8" />
    
    <!--[if lt IE 9]>
    <script type="text/javascript">
    (function(){var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(',');for(var i=0;i<e.length;i++){document.createElement(e[i])}})()
    </script>
    <![endif]-->
    
  </head>

  <body>

    <nav>
      <ol>
        <li><a href="/">home</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/echoes">echoes</a></li>
      </ol>
    </nav>

    {{ content }}

    <footer>
      <ol>
        <li><a href="/">home</a></li>
        <li><a href="/archive">blog archive</a></li>
        <li><a href="http://twitter.com/ivanavasilj">@ivanavasilj</a></li>
        <li><img src="/img/icons/feed.png" alt="" /><a href="http://feeds.feedburner.com/ivanavasilj">feed</a></li>
      </ol>
    </footer>


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5355510-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>

  </body>
</html>
