<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Ivana Vasilj | {{ page.title }}</title>

    <link rel="stylesheet" href="/css/site.css">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link href="http://feeds.feedburner.com/ivanavasilj" type="application/atom+xml" rel="alternate" title="Ivana Vasilj | Blog">

    <meta name="viewport" content="width=device-width">

    <meta name="author" lang="hr" content="Ivana Vasilj, dev@ivana.im">
    <meta name="description" content="Ivana Vasilj - {% if page.desc %}{{ page.desc }}{% else %}{{ page.title }}{% endif %}">
    <meta name="google-site-verification" content="HSE8oq5B95IDw_GW0h5wCy8Czl_AJIWa0VHznHX46Z8">
  </head>

  <body class="{{ page.class }}">
    <h1>Ivana Vasilj</h1>

    <div class=centered>

      {% if page.class == 'blog' %}
        <nav class=blog-nav>
          <ol class=inline>
            <li><a href="/archive">archive</a></li>
            <li><a href="http://feeds.feedburner.com/ivanavasilj">feed</a></li>
          </ol>
        </nav>
      {% else %}
        <address class=contact><a href="mailto:dev@ivana.im">contact me for work</a></address>
      {% endif %}

      <nav class=site-nav>
        <ol class=inline>
          <li><a class=home href="/">ivana.im</a></li>
          <li><a class=projects href="/projects">projects</a></li>
          <li><a class=blog href="/blog">blog</a></li>
        </ol>
      </nav>

      {{ content }}

    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5355510-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="/js/zepto.min.js"></script>
    <script>
      $(document).ready(function(){
        if ($('body').height() < $(window).height()){
          $('body').height($(window).height())
        }
      })
    </script>

  </body>
</html>
